<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <style>
            h1 {text-align: center;}
            .texto_centrado{  
            text-align: center;  
            }
        </style>

        {{ dropzone.load_css() }}
        {{ dropzone.style('border: 2px dashed #0087F7; margin: 30%; min-height: 400px;') }}

        {% block head %}{% endblock %}
    </head>
    <body>

        <div style="color:blue;text-align:center;border: 4px solid #0087F7"> </div>
        <div style="position: relative;top: -350px;">
            {{ dropzone.create(action='index') }}
            {{ dropzone.load_js() }}
            {{ dropzone.config() }}
        </div>

        {% block body %}{% endblock %}
    </body>
</html>